name: "Docker Build"
description: "Run Docker Build and Push"
inputs:
  DOCKERHUB_USERNAME:
    description: "Docker Hub username"
    required: true
  DOCKERHUB_TOKEN:
    description: "Docker Hub token"
    required: true
runs:
  using: "composite"
  steps:
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ inputs.DOCKERHUB_USERNAME }}
        password: ${{ inputs.DOCKERHUB_TOKEN }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: baisnake/devops
        tags: type=sha,format=short
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: true
        tags: baisnake/devops:latest