apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: deployment-test-ingress
  namespace: {{ .Values.namespace }}
spec:
  ingressClassName: nginx-example
  rules:
    - http:
        paths:
          - path: /test
            pathType: Prefix
            backend:
              service:
                name: deployment-test-service
                port:
                  number: 80